<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Hall of Fame</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Total</th>
                <th>Correct</th>
                <th>Incorrect</th>
                <th>Accuracy</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard_data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.total }}</td>
                <td>{{ user.correct }}</td>
                <td>{{ user.incorrect }}</td>
                <td>{{ user.accuracy }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>