<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="Q">
    <h2>Level 1: Everyday Ailments--Answer</h2>
            <li>
                <a>What is a common remedy for a mild headache?</a>
                <br>
           
          
                  {% if ai_answers %}
                      <form action="/rewrite" method="post" class="rewrite">
                          <input value="1" type="hidden" name="form_id">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post">
                          <button type="submit">Show Answer</button>
                      </form>
                        
                      {% if status == "ok" %}
                          <a name="AI1">{{ ai_answers }}</a>
                      {% endif %}
              
                  {% elif ai_answers == "" %}
                    <a>Correct Answer</a>
                    <form action="/next" method="post">
                        <input type="hidden" name="form_id" value="1">
                        <button>NEXT</button>
                    </form>
                  {% endif %}

          
            </li>
   
</div>
</body>
</html>