<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 5: Serious Cases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{url_for('home')}}"><img src="static/cover.png" alt="AI Medical Logo" class="logo"> </a>
    </header>
  <div class="Q">
    <h2>Level 5: Neurological Challenges</h2>

            
              {% if status1 == "display" %}
              
                {% if question == "display" %}
                    <form action="/gemini" method="post" class="que">
                        <strong>Describe the symptoms and progression of Parkinson's disease.</strong>
                        <input type="hidden" name="level" value="5">
                        <input type="hidden" name="question" value="Describe the symptoms and progression of Parkinson's disease.">
                        <br>
                        <textarea name="answer" rows="3" cols="50" required></textarea>
                        <input value="1" type="hidden" name="form_id">
                        <button>Check Answer</button>
                    </form>
                {% endif %}
          
                  {% if ai_answers %}
                      <strong>Describe the symptoms and progression of Parkinson's disease.</strong>
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <form action="/rewrite" method="post" class="que">
                          <input value="1" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="Describe the symptoms and progression of Parkinson's disease.">
                          <button type="submit">Show Answer</button>
                          <input type="hidden" name="level" value="5">
                          <input value="1" type="hidden" name="form_id">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
              
                  {% elif ai_answers == "" %}
                    <strong>Describe the symptoms and progression of Parkinson's disease.</strong>
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="form_id" value="1">
                        <input type="hidden" name="level" value="5">
                        <button>NEXT</button>
                    </form>
                  {% endif %}

              {% endif %}
          
            
              {% if status2 == "display" %}
                {% if question == "display" %}
                    <form action="/gemini" method="post" class="que">
                    <strong>What are the common symptoms of multiple sclerosis (MS)</strong>
                    <input type="hidden" name="level" value="5">
                    <input type="hidden" name="question" value="What are the common symptoms of multiple sclerosis (MS)">
                    <br>
                    <textarea name="answer" rows="3" cols="50" required></textarea>
                    <input value="5" type="hidden" name="form_id">
                    <button>Check Answer</button>
                    </form>
                {% endif %}
              
                      {% if ai_answers %}
                          <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                          <strong>What are the common symptoms of multiple sclerosis (MS)</strong>
                          <form action="/rewrite" method="post" class="que">
                              <input value="5" type="hidden" name="form_id">
                              <input type="hidden" name="level" value="5">
                              <button type="submit">Re-write</button>
                          </form>
                  
                          <form action="/show_answer" method="post" class="que">
                              <input type="hidden" name="question" value="What are the common symptoms of multiple sclerosis (MS)">
                              <button type="submit">Show Answer</button>
                              <input value="5" type="hidden" name="form_id">
                              <input type="hidden" name="level" value="5">
                              {% if status == "ok" %}
                                  <a name="AI1">{{ ai_answers }}</a>
                              {% endif %}
                          </form>
                  
                      {% elif ai_answers == "" %}
                        <strong>What are the common symptoms of multiple sclerosis (MS)</strong>
                        <p style="font-weight: bold;">CORRECT ANSWER</p>
                        <form action="/next" method="post" class="que">
                            <input type="hidden" name="form_id" value="5">
                            <input type="hidden" name="level" value="5">
                            <button>NEXT</button>
                        </form>
                      {% endif %}

              {% endif %}
            
            
            
                {% if status3 == "display" %}
                    {% if question == "display" %}
                        <form action="/gemini" method="post" class="que">
                            <strong>Explain the causes and symptoms of Alzheimer's disease.</strong>
                            <input type="hidden" name="question" value="Explain the causes and symptoms of Alzheimer's disease.">
                            <br>
                            <textarea name="answer" rows="3" cols="50" required></textarea>
                            <input type="hidden" name="level" value="5">
                            <input value="3" type="hidden" name="form_id">
                            <button>Check Answer</button>
                        </form>
                    {% endif %}

                  
                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>Explain the causes and symptoms of Alzheimer's disease.</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input value="3" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="Explain the causes and symptoms of Alzheimer's disease.">
                          <button type="submit">Show Answer</button>
                          <input type="hidden" name="level" value="5">
                          <input value="3" type="hidden" name="form_id">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
              
                  {% elif ai_answers == "" %}
                    <strong>Explain the causes and symptoms of Alzheimer's disease.</strong>
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="level" value="5">
                        <input type="hidden" name="form_id" value="3">
                        <button>NEXT</button>
                    </form>
                  {% endif %}

                {% endif %}
            


            
                {% if status4 == "display" %}
                    {% if question == "display" %}
                        <form action="/gemini" method="post" class="que">
                            <strong>What are the different types of seizures and their characteristics?</strong>
                            <input type="hidden" name="level" value="5">
                            <input type="hidden" name="question" value="What are the different types of seizures and their characteristics?">
                            <br>
                            <textarea name="answer" rows="4" cols="50" required></textarea>
                            <input value="5" type="hidden" name="form_id">
                            <button>Check Answer</button>
                        </form>
                    {% endif %}

                      
                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>What are the different types of seizures and their characteristics?</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input value="5" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="What are the different types of seizures and their characteristics?">
                          <button type="submit">Show Answer</button>
                          <input type="hidden" name="level" value="5">
                          <input value="5" type="hidden" name="form_id">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
                  
                  {% elif ai_answers == "" %}
                    <strong>What are the different types of seizures and their characteristics?</strong>
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="level" value="5">
                        <input type="hidden" name="form_id" value="5">
                        <button>NEXT</button>
                    </form>
                  {% endif %}
                {% endif %}
            

            
                  {% if status5 == "display" %}
                    {% if question == "display" %}
                      <form action="/gemini" method="post" class="que">
                        <input type="hidden" name="level" value="5">
                        <strong>Describe the symptoms and treatment of migraines.</strong>
                        <br>
                        <input type="hidden" name="question" value="Describe the symptoms and treatment of migraines.">
                        <br>
                        <textarea name="answer" rows="4" cols="50" required></textarea>
                        <input value="5" type="hidden" name="form_id">
                        <button>Check Answer</button>
                      </form>
                    {% endif %}

                      
                      {% if ai_answers %}
                          <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                          <strong>Describe the symptoms and treatment of migraines.</strong>
                          <form action="/rewrite" method="post" class="que">
                              <input value="5" type="hidden" name="form_id">
                              <input type="hidden" name="level" value="5">
                              <button type="submit">Re-write</button>
                          </form>
                  
                          <form action="/show_answer" method="post" class="que">
                              <input type="hidden" name="question" value="Describe the symptoms and treatment of migraines.">
                              <button type="submit">Show Answer</button>
                              <input type="hidden" name="level" value="5">
                              <input value="5" type="hidden" name="form_id">
                              {% if status == "ok" %}
                                  <a name="AI1">{{ ai_answers }}</a>
                              {% endif %}
                          </form>
                  
                      {% elif ai_answers == "" %}
                        <strong>Describe the symptoms and treatment of migraines.</strong>
                        <p style="font-weight: bold;">CORRECT ANSWER</p>
                        <form action="/next" method="post" class="que">
                            <input type="hidden" name="form_id" value="5">
                            <input type="hidden" name="level" value="5">
                            <button>NEXT</button>
                        </form>
                      {% endif %}
                  {% endif %}
            

            
                  {% if status6 == "display" %}
                    {% if question == "display" %}
                      <form action="/gemini" method="post" class="que">
                        <strong>>What are the risk factors and symptoms of a stroke?</strong>
                        <input type="hidden" name="question" value=">What are the risk factors and symptoms of a stroke?">
                        <br>
                        <textarea name="answer" rows="4" cols="50" required></textarea>
                        <input value="6" type="hidden" name="form_id">
                        <input type="hidden" name="level" value="5">
                        <button>Check Answer</button>
                      </form>
                    {% endif %}

                      
                      {% if ai_answers %}
                          <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                          <strong>>What are the risk factors and symptoms of a stroke?</strong>
                          <form action="/rewrite" method="post" class="que">
                              <input value="6" type="hidden" name="form_id">
                              <input type="hidden" name="level" value="5">
                              <button type="submit">Re-write</button>
                          </form>
                  
                          <form action="/show_answer" method="post" class="que">
                              <input type="hidden" name="question" value=">What are the risk factors and symptoms of a stroke?">
                              <button type="submit">Show Answer</button>
                              <input type="hidden" name="level" value="5">
                              <input value="6" type="hidden" name="form_id">
                              {% if status == "ok" %}
                                  <a name="AI1">{{ ai_answers }}</a>
                              {% endif %}
                          </form>
                  
                      {% elif ai_answers == "" %}
                        <strong>>What are the risk factors and symptoms of a stroke?</strong>
                        <p style="font-weight: bold;">CORRECT ANSWER</p>
                        <form action="/next" method="post" class="que">
                            <input type="hidden" name="level" value="5">
                            <input type="hidden" name="form_id" value="6">
                            <button>NEXT</button>
                        </form>
                      {% endif %}
              {% endif %}
            
            
                  {% if status7 == "display" %}
                    {% if question == "display" %}
                        <form action="/gemini" method="post" class="que">
                        <strong>Explain the symptoms and management of epilepsy.</strong>
                        <input type="hidden" name="level" value="5">
                        <input type="hidden" name="question" value="Explain the symptoms and management of epilepsy.">
                        <br>
                        <textarea name="answer" rows="4" cols="50" required></textarea>
                        <input value="7" type="hidden" name="form_id">
                        <button>Check Answer</button>
                        </form>
                    {% endif %}

                    
                    {% if ai_answers %}
                        <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                        <strong>Explain the symptoms and management of epilepsy.</strong>
                        <input type="hidden" name="level" value="5">
                        <form action="/rewrite" method="post" class="que">
                            <input value="7" type="hidden" name="form_id">
                            <button type="submit">Re-write</button>
                        </form>
                
                        <form action="/show_answer" method="post" class="que">
                            <button type="submit">Show Answer</button>
                            <input type="hidden" name="question" value="Explain the symptoms and management of epilepsy.">
                            <input value="7" type="hidden" name="form_id">
                            <input type="hidden" name="level" value="5">
                            {% if status == "ok" %}
                                <a name="AI1">{{ ai_answers }}</a>
                            {% endif %}
                        </form>
                
                    {% elif ai_answers == "" %}
                      <strong>Explain the symptoms and management of epilepsy.</strong>
                      <p style="font-weight: bold;">CORRECT ANSWER</p>
                      <form action="/next" method="post" class="que">
                          <input type="hidden" name="form_id" value="7">
                          <input type="hidden" name="level" value="5">
                          <button>NEXT</button>
                      </form>
                    {% endif %}
                  {% endif %}

            
            
              {% if status8 == "display" %}
                {% if question == "display" %}
                  <form action="/gemini" method="post" class="que">
                    <strong>What are the symptoms and causes of peripheral neuropathy?</strong>
                    <input type="hidden" name="question" value="What are the symptoms and causes of peripheral neuropathy?">
                    <br>
                    <textarea name="answer" rows="4" cols="50" required></textarea>
                    <input value="8" type="hidden" name="form_id">
                    <input type="hidden" name="level" value="5">
                    <button>Check Answer</button>
                  </form>
                {% endif %}

                  
                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>What are the symptoms and causes of peripheral neuropathy?</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input value="8" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="What are the symptoms and causes of peripheral neuropathy?">
                          <button type="submit">Show Answer</button>
                          <input value="8" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
              
                  {% elif ai_answers == "" %}
                    <strong>What are the symptoms and causes of peripheral neuropathy?</strong>
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="form_id" value="8">
                        <input type="hidden" name="level" value="5">
                        <button>NEXT</button>
                    </form>
                  {% endif %}
                {% endif %}
            
            
                {% if status9 == "display" %}
                    {% if question == "display" %}
                        <form action="/gemini" method="post" class="que">
                            <strong>Describe the symptoms and diagnosis of amyotrophic lateral sclerosis (ALS).</strong>
                            <input type="hidden" name="level" value="5">
                            <input type="hidden" name="question" value="Describe the symptoms and diagnosis of amyotrophic lateral sclerosis (ALS).">
                            <br>
                            <textarea name="answer" rows="4" cols="50" required></textarea>
                            <input value="9" type="hidden" name="form_id">
                            <button>Check Answer</button>
                        </form>
                    {% endif %}
                  
                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>Describe the symptoms and diagnosis of amyotrophic lateral sclerosis (ALS).</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input value="9" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="Describe the symptoms and diagnosis of amyotrophic lateral sclerosis (ALS).">
                          <button type="submit">Show Answer</button>
                          <input value="9" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
              
                  {% elif ai_answers == "" %}
                    <strong>Describe the symptoms and diagnosis of amyotrophic lateral sclerosis (ALS).</strong>
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="form_id" value="9">
                        <input type="hidden" name="level" value="5">
                        <button>NEXT</button>
                    </form>
                  {% endif %}
                {% endif %}
            
            
                {% if status10 == "display" %}
                    {% if question == "display" %}
                        <form action="/gemini" method="post" class="que">
                            <strong>What are the symptoms and treatment of traumatic brain injury (TBI)?</strong>
                            <input type="hidden" name="question" value="Describe the symptoms and management of vitiligo.">
                            <br>
                            <input type="hidden" name="level" value="5">
                            <textarea name="answer" rows="4" cols="50" required></textarea>
                            <input value="10" type="hidden" name="form_id">
                            <button>Check Answer</button>
                        </form>
                    {% endif %}
                  
                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>What are the symptoms and treatment of traumatic brain injury (TBI)?</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input value="10" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="Describe the symptoms and management of vitiligo.">
                          <button type="submit">Show Answer</button>
                          <input type="hidden" name="level" value="5">
                          <input value="10" type="hidden" name="form_id">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
              
                  {% elif ai_answers == "" %}
                    <strong>What are the symptoms and treatment of traumatic brain injury (TBI)?</strong>
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="form_id" value="10">
                        <input type="hidden" name="level" value="5">
                        <button>NEXT</button>
                    </form>
                  {% endif %}
                {% endif %}
            
            
                {% if status11 == "display" %}
                    {% if question == "display" %}
                        <form action="/gemini" method="post" class="que">
                            <strong>What is the difference between an epidemic and a pandemic?</strong>
                            <input type="hidden" name="question" value="What is the difference between an epidemic and a pandemic?">
                            <br>
                            <input type="hidden" name="level" value="5">
                            <textarea name="answer" rows="4" cols="50" required></textarea>
                            <input value="11" type="hidden" name="form_id">
                            <button>Check Answer</button>
                        </form>
                    {% endif %}

                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>What is the difference between an epidemic and a pandemic?</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input type="hidden" name="level" value="5">
                          <input value="11" type="hidden" name="form_id">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="What is the difference between an epidemic and a pandemic?">
                          <button type="submit">Show Answer</button>
                          <input value="11" type="hidden" name="form_id">
                          <input type="hidden" name="level" value="5">
                          {% if status == "ok" %}
                              <a name="AI1">{{ ai_answers }}</a>
                          {% endif %}
                      </form>
              
                  {% elif ai_answers == "" %}
                    <p style="font-weight: bold;">CORRECT ANSWER</p>
                    <form action="/next" method="post" class="que">
                        <input type="hidden" name="form_id" value="11">
                        <input type="hidden" name="level" value="5">
                        <button>NEXT</button>
                    </form>
                  {% endif %}
              {% endif %}
            
            
              {% if status12 == "display" %}
                {% if question == "display" %}
                  <form action="/gemini" method="post" class="que">
                      <strong>Describe the symptoms and treatment of tuberculosis.</strong>
                      <input type="hidden" name="question" value="Describe the symptoms and treatment of tuberculosis.">
                      <br>
                      <textarea name="answer" rows="4" cols="50" required></textarea>
                      <input type="hidden" name="form_id" value="12">
                      <input type="hidden" name="level" value="5">
                      <button type="submit">Check Answer</button>
                  </form>
                {% endif %}
              
                  {% if ai_answers %}
                      <p style="font-weight: bold;">WRONG ANSWER ! TRY AGAIN</p>
                      <strong>Describe the symptoms and treatment of tuberculosis.</strong>
                      <form action="/rewrite" method="post" class="que">
                          <input type="hidden" name="form_id" value="12">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Re-write</button>
                      </form>
              
                      <form action="/show_answer" method="post" class="que">
                          <input type="hidden" name="question" value="Describe the symptoms and treatment of tuberculosis.">
                          <input type="hidden" name="form_id" value="12">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">Show Answer</button>
                      </form>
              
                      {% if status == "ok" %}
                          <p><strong>AI Answer:</strong> {{ ai_answers }}</p>
                      {% endif %}
              
                  {% else %}
                      <p>Correct Answer</p>
                      <form action="/next" method="post" class="que">
                          <input type="hidden" name="form_id" value="12">
                          <input type="hidden" name="level" value="5">
                          <button type="submit">NEXT</button>
                      </form>
                  {% endif %}  
          
              {% endif %} 
</div>
</body>
</html>



