<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>

        p.error {
            color: red;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='cover.png') }}" alt="AI Medical Logo" class="logo"></a>
    </header>

    <div class="container-reg">
        <h2 style="text-align: center; margin-top: 0;">Register</h2>
        
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}

        <form action="{{ url_for('register') }}" method="POST" class="reg_form">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email ID:</label>
            <input type="email" id="email" name="email" required>

            <label for="mobile">Mobile Number:</label>
            <input type="text" id="mobile" name="mobile_number" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="reg">Register</button>
        </form>

        <p class="try_login" style="text-align: center;">Already have an account? 
            <a href="{{ url_for('login') }}">Login here</a>
        </p>
    </div>
</body>
</html>
